$font-stack: Helvetica, sans-serif;
$header-font-stack: Monospace, sans-serif;
$primary-color: #333;
$background-color: #f4f4f4;
$background-color-secondary: #e4e4e4;
$accent-color: #3465a4;

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $accent-color;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

header,
footer {
  font: 100% $header-font-stack;
}

header {
  nav {
    display: inline;

    ul {
      display: inline;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }
  }
}

header:first-of-type {
  margin-bottom: 1em;

  hgroup {
    margin-bottom: 1em;

    h1 {
      display: inline;
    }
    h2 {
      display: inline;
      font-size: 1em;
    }
  }
}

section.cards {
  display: flex;
  flex-wrap: wrap;

  article {
    flex: 0 1 25em;
    margin: 0 1em 1em 0;
    background-color: $background-color;

    header {
      background-color: $background-color-secondary;
      padding: 1em;
    }
  }

  section:first-of-type {
    padding: 1em;
  }
}

article {
  section:first-of-type {
    padding-top: 1em;
  }
}

.button {
  background: $accent-color;
  padding: 1em;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 3em;
}
