$font-stack: Helvetica, sans-serif;
$header-font-stack: Monospace, sans-serif;
$primary-color: #333;
$accent-color: #55adf8;

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  font: 100% $header-font-stack;

  a {
    text-decoration: none;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      background-color: $accent-color;
    }

    a {
      display: block;
      padding: 6px 12px;
    }
  }
}

header {
  margin-bottom: 1em;

  hgroup {
    margin-bottom: 1em;
  }
  h1 {
    display: inline;
  }
  h2 {
    display: inline;
    font-size: 1em;
  }
}

main {
  font: 100% sans-serif;
  flex: 1;
}

section.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    background-color: #55adf8;
    flex: 0 1 25em;
    margin: 1em;
    padding: 1em;
  }
}
