{% macro cards(section, max=-1) %}

{% if max == -1 %}
  {% set max = section.pages | length %}
{% endif %}

<section class="cards">
  {% for page in section.pages | slice(end=max) %}
    <article>
      <header>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </header>

      {% if page.extra.thumbnail %}
        {% set thumbnail_image = resize_image(path=page.extra.thumbnail, width=512, op="fit_width") %}
        <img src="{{ thumbnail_image.url }}" style="max-width: 100%;" />
      {% endif %}

      {{ page.summary | safe }}
    </article>
  {% endfor %}
</section>
{% endmacro cards %}