<!DOCTYPE html>
<html lang="en">

<head>
  {% include "google_analytics.html" %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>

<body>
  <header>
    <hgroup>
      <h1><a href="{{ get_url(path='@/_index.md') }}">{{ config.title }}</a></h1>
      <h2>Adventures in creative programming</h2>
    </hgroup>
    <nav>
      {% set rootsection = get_section(path="_index.md") %}
      <ul>
        {% for path in rootsection.subsections %}
          {% set section = get_section(path=path) %}
          <li><a href="{{ section.permalink }}">{{ section.title }}</a></li>
        {% endfor %}
        <li><a href="{{ get_url(path='/tags/') }}">Tags</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <p>© 2023 Andrew O'Connor</p>
  </footer>
</body>

</html>