{% extends "base.html" %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date }}">{{ page.date }}</time> ::
    <nav>
      <ul>
        {% for tag in page.taxonomies.tags %}
          {% set url = get_taxonomy_url(kind="tags", name=tag, lang=page.lang) %}
          <li><a href="{{ url }}">#{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <section>
  {{ page.content | safe }}
  </section>
  <footer>
  </footer>
</article>

{% endblock content %}